.courseImage {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.courseDetailsGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.enrollBtn {
  width: 100%;
  margin-top: 1rem;
}

.coursePrice {
  font-size: 1.5rem;
  font-weight: bold;
}

.courseDescription {
  margin-top: 1rem;
  line-height: 2;
  font-family: inherit;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  font-size: 1.2rem;
}
