.navbarWrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.mainNavbar ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.navLink {
  padding: 1rem 1rem;
  color: black;
  display: block;
  transition: 0.3s;
}

.navLogo {
  font-weight: 600;
}
