.btn {
  background: none;
  border: none;
  text-decoration: none;
  padding: 0.75em 1.875em;
  border-radius: var(--radius-400);
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 2px solid transparent;
}

.btn:hover {
  text-decoration: none;
}

.large {
  padding: 1em 2em;
}

.small {
  padding: 0.3em 1em;
}

.primary,
.darkPrimary:hover {
  background: var(--clr-primary-400);
  color: white;
}

.primary:hover,
.darkPrimary {
  color: white;
  background: var(--clr-primary-600);
}

.lightSecondary {
  color: black;
  background: white;
  border-color: black;
}

.lightSecondary:hover {
  color: white;
  background: black;
}
